name: polimoney_ledger
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.9.2 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  supabase_flutter: ^2.10.3
  shared_preferences: ^2.2.3 # For storing user's Supabase config

  cupertino_icons: ^1.0.8
  provider: ^6.1.5+1
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true